.callUnknown {
    height: 1.2rem;
    fill: var(--tg-theme-text-color);
}

.callIn {
    height: 1.2rem;
    fill: #23b674;
}

.callOut {
    height: 1.2rem;
    fill: #fab03c;
}

.callMissing {
    height: 1.2rem;
    fill: #ff4040;
}
