html {
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}
